_NCrunch_Glass.PublishViewer/Glass.PublishViewer.crunchsolution.cache
.vs/config/applicationhost.config
.vs/Glass.PublishViewer/v14/.suo
Glass.PublishViewer.ncrunchsolution.user
Glass.PublishViewer.v2.ncrunchsolution
Glass.PublishViewer/bin/
Glass.PublishViewer/obj/
Libs/Sitecore/*.dll
